body {
  font-family: Arial, sans-serif ;
  background-image: url("../../../assets/football-background.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--default-color);
}
