table {
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: var(--default-box-shadow);

  td, th {
    padding: 10px 20px;
    border: 1px solid var(--default-border-color);
    background-color: white;
  }
}

.team {
  width: 25%;
}
