<table>
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Games</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
        <th>Goal difference</th>
        <th>Points</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let standing of standings">
        <td class="rank">{{standing.rank}}</td>
        <td class="logo">
            <img [ngSrc]="standing.logo"
                 width="30"
                 height="30"
                 alt="{{standing.teamName}} - Team logo">
        </td>
        <td class="team">
            <a class="link"
               [routerLink]="['team', standing.teamName, standing.teamId]">{{standing.teamName}}</a>
        </td>
        <td class="games">{{standing.gamesCount}}</td>
        <td class="win">{{standing.winCount}}</td>
        <td class="loss">{{standing.lossesCount}}</td>
        <td class="draw">{{standing.drawsCount}}</td>
        <td class="goal-difference">{{standing.goalDifferenceCount}}</td>
        <td class="points">{{standing.points}}</td>
    </tr>
    </tbody>
</table>
