table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid var(--default-border-color);
  background-color: white;
  box-shadow: var(--default-box-shadow);

  td, th {
    padding: 5px 10px;
    border: 1px solid var(--default-border-color);
  }

  th {
    font-weight: 800;
  }
}


.team {
  width: 28%;
}

.logo {
  text-align: center;
}

a {
  display: block;
  padding: 5px 10px;
}


