app-fixtures-table {
  display: block;
  margin-bottom: 20px;
}

.button {
  display: inline-flex;
  padding: 10px 20px;
  background-color: #b9dcfc;
  border: 1px solid #5d7180;
  border-radius: 8px;
}
